* { margin:0; padding:0; box-sizing:border-box; font-family:"Comic Sans MS", cursive; }

body { height:100vh; background:linear-gradient(135deg,#ff9a9e,#fad0c4); display:flex; justify-content:center; align-items:center; }

.hearts span { position:absolute; font-size:24px; animation: floatUp 8s linear infinite; opacity:0.8; }

@keyframes floatUp { 0%{transform:translateY(100vh);opacity:0;} 100%{transform:translateY(-10vh);opacity:1;} }

.card { background:white; padding:40px; border-radius:20px; text-align:center; box-shadow:0 20px 40px rgba(0,0,0,0.2); z-index:2; }

.card h1 { color:#ff4d6d; margin-bottom:30px; }

.buttons button { padding:15px 30px; margin:10px; font-size:18px; border:none; border-radius:50px; cursor:pointer; transition:all 0.3s ease; }

#yesBtn { background:#ff4d6d; color:white; }
#noBtn { background:#ccc; }
.buttons button:hover { transform:scale(1.1); }

.modal { position:fixed; inset:0; background:rgba(0,0,0,0.4); display:flex; justify-content:center; align-items:center; z-index: 10; }
.hidden { display:none; }
.modal-content { background:white; padding:30px; border-radius:20px; animation:pop 0.4s ease; position:relative; }
@keyframes pop { from { transform:scale(0.5); } to { transform:scale(1); } }
#closeModal { position:absolute; top:10px; right:15px; cursor:pointer; }
#musicToggle { position:fixed; bottom:20px; right:20px; border:none; padding:10px; border-radius:50%; cursor: pointer; background: white;}